*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;
}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}
.btnMeno{
    margin-right: 30px;
}
main{
    margin-left: 130px;
    margin-right: 130px;
}
.banner {
    display: flex;
    width: 70%;
    height: 40vh;
    margin-left: 260px;
    margin-top: 50px;
    max-width: 100%;
    
    
}
.banner img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    
}
.container{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
    max-width: 100%;
}
.cardsdosprojetos{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    height: 45vh;
    background-color: #EEEEEE;
    max-width: 100%;
    
    
}
.cardsdosprojetos p{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;



}
.cardsdosprojetos div{
    margin-left: 80%;
    background-color: green;
    border-radius: 10px;
    width: 20%;
    height: 3vh;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
}
.cardsdosprojetos .preco{
    font-size: 1.7em;
    font-family: Ropa Sans;
    color: #777;
    margin-top: 10px;
    max-width: 100%;
    
}
.yourstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10%;
    flex-direction: column;
    
}

 h2{
    text-align: center;
    border-top: 10%;
    font-size: 3em;
    color: #888888;
}


.conjunto{
    width: 100%;
    margin-top: 10%;
    max-width: 100%;
    
}
.conjunto img{
    width: 100%;
    max-width: 100%;
    height: 15vh;
    max-height: 100vh;
    

}
    


.conjunto p{
    position: absolute;
    color: white;
    font-size: 2.5em;
    margin-top: 2%;
    margin-left: 23%;
    font-family: Arial, Helvetica, sans-serif
}



.rodape{
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    margin-top: 10%;
    
}
.mapa {
    height: 25vh;
    width: 25%;
    margin-top: 5%;
    
}
.mapa img{
    width: 100%;
    max-width: 100%;
}
.endereco{
    color: white;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    
    text-align: center;
    height: 30vh;
    margin-top: 5%;
    

}
.endereco #redes{
    margin-top: 5%;
}
























